@import '../components/globals.scss';

.ocean-background {
    background-image: url('/as_oceanbg.png');
    background-size: cover;
}
.contact-header {
    font-size: 60px;
    font-family: $poppins;
    text-align: center;
    line-height: 1em;
    margin: 250px 0 20px;
}

.contact-tag {
    font-family: $roboto;
    color: $lightBlue;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 100px;
}

label {
    display: block;
    font-family: $roboto;
    font-size: 20px;
}
input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-family: $roboto;
    font-size: 20px;
    margin-bottom: 30px;
}

.contact-send {
    margin: 50px auto 0;
    display: block;
    width: 70%;
}

@media (max-width: $mobileSize) {
    .ocean-background {
        background-position: center;
    }
    .contact-header {
        font-size: 25px;
        line-height: 1.3em;
        margin: 150px 0 20px;
    }

    .contact-tag {
        font-size: 16px;
        margin-bottom: 50px;
    }

    label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    input,
    select,
    textarea {
        padding: 5px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .contact-send {
        margin-top: 20px;
        width: 100%;
    }
}