@import '../components/globals.scss';

.sharks {
    background-image: url('/tiburones1.svg'), url('/tiburones2.svg');
    background-repeat: no-repeat;
    background-size: 30vw 30vw, 15vw 15vw;
    background-position: top right, 0% 90%;
}

.contactheader {
    font-size: 60px;
    font-family: $heading;
    text-align: center;
    line-height: 1em;
    margin: 250px 0 20px;
}

.contacttag {
    color: $mainBlue;
    font-weight: 600;
    text-align: center;
    margin-bottom: calc(100px + 6.7vw);
}

.wave{
    @include wave-outline;
    fill: $lightBlue;
    margin-top: -6.7vw;
}

.mainrow {
    padding-bottom: calc(100px + 6.7vw) !important;
    background-color: $lightBlue;
    background: linear-gradient(180deg, $lightBlue 0%, $cream 70%);
}

.formheader {
    font-family: $heading;
    font-size: 35px;
    color: $darkBlue;
    text-align: center;
    margin-bottom: 60px;
}

@media (max-width: $mobileSize) {
    .contactheader {
        font-size: 25px;
        line-height: 1.3em;
        margin: 150px 0 20px;
    }

    .contacttag {
        font-size: 16px;
        margin-bottom: 50px;
    }
}