@import './globals.scss';

.button{
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 10px;
    transition: 0.5s ease color;
    transition: 0.5s ease background;
    font-family: $poppins;
    font-weight: 500;

    &:hover,
    &:focus{
        transition: 0.5s ease color;
        transition: 0.5s ease background;
    }

    &:focus{
        outline-offset: -3px;
        outline: 1px dashed;
    }

    &.primary{
        color: white;
        background: $lightGreen;
        border-color: $lightBlue;

        &:hover,
        &:focus{
            background: $lightBlue;
            color: $darkBlue;
        }

        &:focus{
            outline-color: $darkBlue;
        }
    }

    &.secondary {
        color: $mainBlue;
        border-color: transparent;
        background-color: #ffffff75;

        &:hover,
        &:focus {
            background-color: #ffffffbf;
        }
    }
}