@import './globals.scss';


a.button{
    @include white-link;
    width: fit-content;
}
.button{
    border: 1px solid;
    padding: 15px 25px;
    border-radius: 20px;
    transition: 0.5s ease color;
    transition: 0.5s ease background;
    font-family: $heading;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    display: inline-block;

    &:hover,
    &:focus{
        transition: 0.5s ease color;
        transition: 0.5s ease background;
    }

    &:focus{
        outline-offset: -3px;
        outline: 1px dashed;
    }

    &.primary{
        color: white;
        border-color: darken($color: $yellow, $amount: 2);
        background-color: $yellow;

        &:hover,
        &:focus {
            background-color: $lightGreen;
            border-color: $lightBlue;
            color: $lightBlue;
        }
    }

    &.secondary {
        color: $mainBlue;
        border-color: transparent;
        background-color: #ffffffb6;

        &:hover,
        &:focus {
            background-color: #ffffffe0;
            color: $mainBlue;
        }
    }
}

@media (max-width: $mobileSize) {
    .button {
        font-size: 16px;
        padding: 5px 20px;
    }
}