@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@900&display=swap');

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;
$lightGreen: #00a79d;
$lightBlue: #00fee6;
$darkBlue: #020413;
$mainBlue: #0177fd;

@mixin link($color, $hoverColor) {
    transition: 0.5s ease color;
    text-decoration: none;
    color: $color;

    &:hover {
        transition: 0.5s ease color;
        color: $hoverColor;
    }

    &:focus {
        border-bottom: 1px solid $hoverColor;
        color: $hoverColor;
        outline: none;
    }
}

@mixin white-link {
    @include link(white, $mainBlue);
}