/*@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;900&family=Roboto:wght@300;400;500;900&display=swap');*/

/* fonts */
$heading: var(--font-epilogue), sans-serif;
$body: var(--font-roboto), sans-serif;

/* Colors */
$black: #030D24;
$darkBlue: #072367;
$mainBlue: #0C46EB;
$lightBlue: #72A9F8;
$lightGreen: #84FaF8;
$yellow: #E8C545;


$mobileSize: 764px;

@mixin link($color, $hoverColor) {
    transition: 0.5s ease color;
    text-decoration: none;
    color: $color;

    &:hover {
        transition: 0.5s ease color;
        color: $hoverColor;
    }

    &:focus {
        border-bottom: 1px solid $hoverColor;
        color: $hoverColor;
        outline: none;
    }
}

@mixin white-link {
    @include link(white, $lightGreen);
}

@mixin blue-link {
    @include link($mainBlue, $lightBlue);
}

@mixin body-font {
    font-family: $body;
    font-size: 25px;

    @media (max-width: $mobileSize) {
        font-size: 16px;
    }
}

@mixin black-outline {
    &:focus {
        outline: 2px solid $black;
        outline-offset: 2px;
    }
}

@mixin wave-outline {
    margin-left: -2px;
    margin-bottom: -5px;
    width: calc(100vw + 2px);
    height: 6.7vw;
}
.blockCenter{
    margin:auto;
    display: block;
}
.flexCenter{
    display: flex;
    justify-content: center;
}