@import './globals.scss';

.header{
    width: 90%;
    margin: 25px 5%;
    border: 1px solid white;
    border-radius: 45px;
    background-color: #ffffffc7;
    padding: 10px 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 9999999;
}

.navLink{
    text-transform: uppercase;
    margin: 0 1em;
    transition: 0.5s ease color;
    font-family: $heading;
    font-weight: 400;
    font-size: 20px;
    @include blue-link;
}


.navLink:focus{
    border-bottom: 1px solid blue;
    outline: none;
}  

.header nav .navButton {
    padding: 5px 20px;
    text-transform: uppercase;
}

.hamButton,
.mobileNav {
    display: none;
}

@media (max-width: 765px) {
    .hamButton {
        width: 50px;
        height: 30px;
        background-color: white;
        display: block;
    }
    .mobileNav {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $mainBlue;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .navLink:hover{
            color: $lightBlue;
        }

        &.open{
            top: 0;
            transition: 0.5s ease top;
        }
        &.close{
            top: -100vh;
            transition: 0.5s ease top;
        }

        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }

        .closeBtn {
            position: absolute;
            top: 20px;
            right: 50px;
            font-size: 50px;
            color: white;
            background-color: transparent;
            border: none;
        }
    }
    .desktopNav{
        display: none;
    }
}