@import './globals.scss';

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $black;
    background: radial-gradient(circle, $black 30%, rgba($black, 0.6) 100%);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.open {
    display: flex;
}

.content {
    background-color: white;
    padding: 50px 10%;
    position: relative;
    max-width: 80%;
    max-height: 70%;
    overflow-y: scroll;
    
    p{
        @include body-font;
        margin-top: 10px;
        margin-bottom: 25px;
    }
}

.close {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    color: $black;
    font-size: 50px;
    border: none;
    @include black-outline;
}