@import './globals.scss';

.row {
    padding: 50px 10%;
    font-family: $body;

    &.blue {
        background-color: $mainBlue;
        color: white;
    }

    h3 {
        font-family: $heading;
        text-align: center;
        font-size: 30px;
        color: $darkBlue;
    }

    p {
        @include body-font;
    }
}