@import '../components/globals.scss';

.services-header {
    width: 65%;
    display: inline-block;
    font-size: 60px;
    font-family: $poppins;
    line-height: 1.2em;
    margin: 150px 0;
    position: relative;
    z-index: 2;
}

.coral-wall {
    height: 100vh;
    width: 40vw;
    background-image: url('/arrecife_wall1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.sharks {
    width: 30vw;
    height: 50vh;
    position: absolute;
    top: 64px;
    right: 0;
    background-image: url('/adshark_sharks2.png');
    background-size: 50vw auto;
    background-repeat: no-repeat;
}

.service-container {
    display: flex;
    gap: 30px;
    margin-top: 100px;

    .services-copy {
        width: calc(100% - 330px);
    }

    h3 {
        color: $darkBlue;
        text-align: left !important;
    }
    p {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

.rocky-row {
    position: relative;
    padding-top: 0 !important;
}

.rock1 {
    position: absolute;
    background-image: url('/rock1.png');
    background-size: cover;
    width: 37%;
    height: 80%;
    top: calc(20% + 50px);
    right: -12.6%;
  }
  .rock2 {
    position: absolute;
    background-image: url("/rock2.png");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 39%;
    height: 80%;
    top: calc(20% + 50px);
    left: -13%;
  }

  @media (max-width: $mobileSize) {
    .services-header {
        width: 100%;
        font-size: 30px;
    }
    .coral-wall {
        height: 100vh;
        width: 100vw;
        background-size: cover;        
    }
    .service-container {
        flex-direction: column;
        margin-top: 50px;

        &:nth-child(2n) {
            flex-direction: column-reverse;
        }

        img {
            max-width: 100%;
        }
    
        .services-copy {
            width: 100%;
        }
    
        h3 {
            color: $darkBlue;
            text-align: left !important;
        }
    }

    .sharks {
        width: 100vw;
        height: 70vh;
        background-size: 50vw auto;
        background-position: 100% 0;
    }
  }